/* ContactMe.css
.contact-me-section {
    margin-top: 100px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'MuseoModerno', sans-serif;
}

.contact-me-content {
    max-width: 800px;
    margin: 0 auto;
}

.contact-me-content h2 {
    font-size: 2.5rem;
    color: #333;
}

.contact-me-content p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

.contact-me-content ul {
    list-style: none;
    padding: 0;
}

.contact-me-content li {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
} */
