.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    width: 100%;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'MuseoModerno', sans-serif;
}

.footer p {
    margin: 0;
}