/* .navbar {
    background-color: #333;
    padding: 15px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gabarito', 'Montserrat Alternates', 'MuseoModerno', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .navbar a:hover {
    border-bottom: 2px solid white;
  } */
  
  /* Adjust the hamburger menu for mobile */
  /* .hamburger {
    display: none;
  }

  .nav-links{
    list-style-type: none;
    display: inline-flex;
  }

  .navbar name { 
    align-items: left;
  }
  
  @media (max-width: 768px) {
    .navbar {
      justify-content: space-around;
      gap: 15em;
      text-align: left;
      padding: 10px; 
    }
    

    .navbar a {
      margin: 0 10px; 
    }
  
    .hamburger {
      display: block;
    }
  
    .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      background-color: #333;
      transition: left 0.3s ease;
      padding-top: 50px;
      
    }
  
    .nav-links.open {
      left: 0;
      display: block;
    }
  
    .nav-links li {
      padding: 20px 0;
      display: block; 
    }

  } */


